.header-top {
    display: flex;
    align-items: center;
    background: #f03e30;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 14px;
    a {
        color: white;
    }
}
